<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Word Counter-About</title>
</head>
<body style="font-family: Exo,sans-serif;">
    <center>
    <h1>About</h1>
    <p>
        This website is the first one in Nick's Django Bootcamp.I love words and I love counting 'em too.<br/>
        All rights reserved to AKJ DesignX.<br/>&copy;2018
    </p>
    <a href="{% url 'home' %}">Home</a>
    </center>
</body>
</html>